@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap:400,500,700");
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background: #f7f6f1;
}

.navbar {
  border-radius: 0px;
}

p {
  padding: 0px;
  margin: 0px;
}

input:focus {
  outline: none;
}

button:focus {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

button:active {
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
       -o-transform: translateY(2px);
          transform: translateY(2px);
}

.reset_password {
  min-height: 100vh;
  padding: 5% 10px;
}

.reset_password form {
  background: white;
  -webkit-box-shadow: 0 5px 25px 0 rgba(2, 2, 2, 0.07);
          box-shadow: 0 5px 25px 0 rgba(2, 2, 2, 0.07);
  border-radius: 5px;
  width: 320px;
  margin: 0 auto;
  padding-bottom: 1rem;
  border: 1px solid #333333;
}

@media (max-width: 350px) {
  .reset_password form {
    width: 100%;
  }
}

.reset_password form .rp__heading {
  border-bottom: 1px solid #333333;
  margin-bottom: 1rem;
  padding: 0.7rem;
  font-weight: 700;
}

.reset_password form .rp__heading p {
  font-size: 1.85rem;
}

.reset_password form .rp__form {
  padding: 2rem 1rem;
}

.reset_password form .rp__form .rp__field {
  padding-bottom: 1rem;
  padding-left: 0.5rem;
}

.reset_password form .rp__form .rp__field .rp__field_heading p {
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
  font-weight: 700;
}

.reset_password form .rp__form .rp__field .rp__field_input input {
  border: 1px solid #333333;
  padding: 0.5rem;
  border-radius: 3px;
  width: 97%;
}

.reset_password form .rp__form .submit-btn {
  text-align: center;
  margin-top: 0.5rem;
}

.reset_password form .rp__form .submit-btn button {
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  border: none;
  background: #13ce66;
  outline: none;
  color: white;
}
