@import '_main';

.pass_recovery {
  min-height: 100vh;
  padding: 5% 10px;

  form {
    background: white;
    box-shadow: 0 5px 25px 0 rgba(2, 2, 2, 0.07);
    border-radius: 5px;
    width: 450px;
    margin: 0 auto;
    padding-bottom: 1rem;
    border: 1px solid #333333;

    @media (max-width: 450px) {
      width: 100%;
    }

    .pr__heading {
      border-bottom: 1px solid #333333;
      margin-bottom: 1rem;
      padding: 0.7rem;
      font-weight: 700;

      p {
        font-size: 1.85rem;
      }
    }
    .pr__form {
      padding: 2rem 2px;

      @media (max-width: 330px) {
        padding: 2px 2rem;
      }
      .pr__field {
        display: flex;
        flex-direction: row;
        justify-content: center;

        @media (max-width: 330px) {
          flex-direction: column;
        }

        .pr__field_heading {
          padding-right: 1.5rem;
          padding-bottom: 0rem;
          align-self: center;
          font-weight: 700;
          @media (max-width: 330px) {
            align-self: flex-start;
            padding-bottom: 0.5rem;
          }

          p {
            font-size: 1.5rem;
          }
        }
        .pr__field_input {
          input {
            border: 1px solid #333333;
            padding: 0.5rem;
            border-radius: 3px;

            @media (max-width: 330px) {
              width: 100%;
            }
          }
        }
      }

      .submit-btn {
        text-align: center;
        margin: 2.5rem 0 0 0;

        button {
          font-size: 1.5rem;
          padding: 0.5rem 1.5rem;
          border: none;
          background: #13ce66;
          outline: none;
          color: white;
        }
      }
    }
  }
}
